<h1>Latest questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>User</th>

  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= link_to sanitize(question.body), question %></td>
    <td><%= getUsernameLinkById(question.user_id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ask a Question', new_question_path %>
