<h1>Latest Questions:</h1>
<table>
<% @questions.each do |question| %>
	<tr><td><%= thumbnail(question.user_id)%><br/>
	<%= getUsernameLinkById(question.user_id) %></td>
	
	 <td><%= link_to sanitize(question.body), question %></td>
	</tr>
<% end %>
</table>
<p>
<%= link_to "Add a question", new_question_path %>
</p>
