<h1>Latest Questions:</h1>
<ul>
<% @questions.each do |question| %>
	<li> <%= link_to sanitize(question.body), question %> - <%= getUsernameLinkById(question.user_id) %>
<% end %>
</ul>
<p>
<%= link_to "Add a question", new_question_path %>
</p>
