body { 
	font-family: "Helvetica", 'Helvetica Neue', 'Arial', sans-serif;
	line-height: 1.4;
	color: #555753; 
	background-color: #301830;
    background-image: url(/images/psych_bg.png);
	}
h1 {
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 2px;
}
h3 { 
	font-style: italic;
	font-size: 1.5em;
	letter-spacing: 1.2px; 
	margin-bottom: 0; 
	}
	
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #151361;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #151361;
	}
	
a:hover, a:active { 
	text-decoration: underline; 
	background-color: #fff;
	}
	
nav {
  background-color: white;
  padding: 0 1em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.right {
	float:right;
}

.left {
	float:left;
}

#container {
	width: 804px;
	min-height: 600px;
	margin: 0 auto;
	margin-top: 80px;
	background: #fff;
	padding-left: 30px;
	-webkit-border-radius: 20px; -moz-border-radius: 20px;
}

#logo {
	background-color: white;
	width: 180px;
	float: middle;
	padding-left: 30px;
	position:relative;
	top:-70px;
}

#topnav {
	position:relative;
	top:-90px;
	
}

#contentcolumn {
	width: 538px;
	float: left;
}

#rightcolumn {
	float:right;
	width: 330px;
	padding: 18px;
	text-align:left;
}

#footer {
	clear:both;
	font-size:9pt;
	text-align:center;
	margin-top: 20px;
}

#search {
	float:right;
	margin-right: 30px;
}


td {
	padding:3px;
}

tr.odd {
	background-color: #aaa;
}
tr.even {
	background-color: #ddd;
}
#debug {
    background: #ddd;
	border: solid 2px;
	border-color: #444;
	width: 900px;
	padding: 5px 20px;
	margin: 0 auto;
	-webkit-border-radius: 20px; -moz-border-radius: 20px;
}
#userstats {
	font-size: 9pt;
	border: 1px solid;
}
#flash {
	color: #B43530;
	font-weight: bold;
}
#ratings {
	background-color:#DDD;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 2px;
	margin-bottom: 10px;
	-webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#subline {
	color:#323;
	font-size: 10pt;
	font-style: italic;
}
#comment {
	background-color:#222;
	padding-left: 3px;
	padding-bottom: 3px;
	padding-top: 32px;

	-webkit-border-radius: 5px; -moz-border-radius: 5px;
}


* html #footer {
		height:1px;
	}
